<!-- djangoapp/blog/templates/blog/partials/_header.html -->
<header class="header section-gap">
  <div class="container section-content-wide">

    <h1 class="blog-title">
      <a href="{% url 'blog:index' %}">{{ site_setup.title }}</a>
    </h1>

    <p class="blog-description">{{ site_setup.description }}</p>

    {% if site_setup.show_search %}
      {% include 'blog/partials/_search.html' %}
    {% endif %}

    {% if site_setup.show_menu %}
      {% include 'blog/partials/_menu.html' %}
    {% endif %}

  </div>
</header>