# Arquivos gerados pelo Django e pela aplicação
/media/
/staticfiles/
db.sqlite3
__pycache__/
*.pyc

# Arquivos de log e backup
*.log
*.bak

# Arquivos de ambiente e segredos
.env
/dotenv_files/
/data/
gunicorn-error-log

# Dependências e pacotes Python
.venv
venv/
env/
dist/
build/
*.egg-info/

# Arquivos específicos do editor (VSCode, PyCharm, etc)
.vscode/
.idea/
.history/

# Arquivos de testes e cobertura
.pytest_cache/
.coverage
