{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include 'blog/partials/_head.html' %}
</head>
<body>
    <!-- Esta classe usa flexbox para organizar o layout verticalmente -->
    <div class="blog-wrapper">

        {% include 'blog/partials/_header.html' %}

        <!-- A classe "main-content" empurra o rodapé para baixo -->
        <main class="main-content section-gap">
            {% block content %}{% endblock content %}
        </main>

        {% include 'blog/partials/_footer.html' %}
        
    </div>
</body>
</html>