{% extends 'blog/base.html' %}

{% block content %}
<main class="main-content section-wrapper">
  <div class="section-content-narrow">
    <div class="section-gap">
      
      <div class="form-wrapper">
        <h2 class="center-text pb-base">Login</h2>

        <form method="POST">
          {% csrf_token %}

          {% if form.errors %}
            <div class="message message-error">
              <p>Usuário ou senha inválidos. Por favor, tente novamente.</p>
            </div>
          {% endif %}
          
          <div class="form-group">
            <label for="id_username">Usuário</label>
            <input type="text" name="username" id="id_username" required>
          </div>
          <div class="form-group">
            <label for="id_password">Senha</label>
            <input type="password" name="password" id="id_password" required>
          </div>

          <div class="form-group">
            <button class="btn" type="submit">Entrar</button>
          </div>
        </form>
        
        <p class="center-text pt-base">
          Não tem uma conta? <a href="{% url 'blog:register' %}">Registre-se</a>.
        </p>

      </div>

    </div>
  </div>
</main>
{% endblock content %}